---
layout: default
title: Organic Living
---

<div id="home">

  <h1>Welcome to organic living</h1>

  <div>
  	<p>
  		When my wife and I started watching some documentary shows, we were in shock, still in shock, to find out what really is going on in the world, and how horrible it is.  We kept on watching more and more documentary shows and we learned more shocking stories and issues related to the very baisc things we lived without even thinking too much about it.
  		<a href="{{ site.url }}/home.html">read more...</a>
  	</p>
  </div>



  <h1>Blog Posts</h1>

  <ul class="posts">
		{% for post in paginator.posts %}
		  <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></li>
		{% endfor %}
	</ul>


	<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
  	{% if paginator.previous_page == 1 %}
  		<a href="{{ site.url }}/" class="previous">Previous</a>
  	{% else %}
    	<a href="{{ site.url }}/page{{ paginator.previous_page }}" class="previous">Previous</a>
    {% endif %}
  {% endif %}

  <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>

  {% if paginator.next_page %}
    <a href="{{ site.url }}/page{{ paginator.next_page }}" class="next">Next</a>
  {% else %}
    <span class="next ">Next</span>
  {% endif %}
</div>

<div id="accordion">
	<h3>pages</h3>
	<div>
	<div id="post-pagination" class="pagination">
	  <ul class="pages">
	    <li class="page">
	      {% if paginator.page == 1 %}
	        <span class="current-page" style="color: red">1</span>
	      {% else %}
	        <a href="{{ site.url }}/">1</a>
	      {% endif %}
	    </li>

	    {% for count in (2..paginator.total_pages) %}
	      <li class="page">
	        {% if count == paginator.page %}
	          <span class="current-page" style="color: red">{{ count }}</span>
	        {% else %}
	          <a href="{{ site.url }}/page{{ count }}">{{ count }}</a>
	        {% endif %}
	      </li>
	    {% endfor %}
	  </ul>
	</div>
</div>
</div>
<!--
    {% for post in site.posts %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
-->

</div>
